@import "../../Components/Theme/Theme.scss";
@use "../../Components/Theme/Theme.scss";

.Section-Events {
  display: grid;
  padding: 64px 15px;
  row-gap: 48px;
}

@media screen and ($mobileLarge) {
  .Section-Events {
    grid-template-columns: repeat(2, 1fr);
    gap: 32px;
    padding: 80px 32px;
  }
}

@media screen and ($desktop) {
  .Section-Events {
    grid-template-columns: repeat(3, 1fr);
    padding: 80px 0;
    max-width: 940px;
    margin: 0 auto;
  }
}

@media screen and ($desktopLarge) {
  .Section-Events {
    grid-template-columns: repeat(4, 1fr);
    max-width: 1280px;
  }
}
